.container{
    display: grid;
    grid-template-columns: repeat(4,4vw);
    grid-template-rows: repeat(5,4vw);
    padding-top: 20px;

}
.element{
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 4px;
}
.element:hover{
    background-color: rgb(207, 158, 94);
}
.page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#display{
    width: 20vw;
    height: 30px;
    border-radius: 10px;
    font-size: large;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    padding: 50px 25px;
    border-radius: 20px;
}
